.quizzConteiner{
    width: 100%;
    margin: auto;
    margin-top: 20px;
}
.quizzLog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    background-color: orange;
    border-radius: 8px;
}
.quizzLog > h3{
    margin-top: 20px;
}
.quizzquestions{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: orange;
    font-size: 30px;
    width: 100%;
    height: 200px;
    font-family: 'Segoe UI';
    margin-bottom: 10px;
}
.quizzOptions{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.btnOption{
    padding: 2px;
    background-color: white;
    color: orange;
    transition-duration:2s;
    border: 1px solid orange;
    width: 50%;
    display: inline-block;
    border-radius: 8px;
    font-size: 17px;
    padding: 16px 31px 16px 31px;
    transition-property: background-color, color, text-shadow;
}
.btnOption:hover{
    background-color: orange;
    cursor: pointer;
    color: white;
}
.btnOption:active{
    position: relative;
    top: 1px;
}
.quizzResults{
    width: 100%;
    height: 350px;
    background-color: orange;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.quizzResults > img{
    object-fit: cover;
    object-position: center;
    width: 300px;
}